@import "tailwindcss";

body {
    margin: 0;
    background: #f8fafc;
    font-family: Inter, sans-serif;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 8px;
}
